.ulLink{
    list-style: none;
    width: 67rem;
    display: flex;
    /* margin: 0px; */
    justify-content: space-around;
    /* padding: 20px 0px 20px 0px; */
}


.logoNav{
    font-size: 3rem;
    margin: 10px;
}